{% import "_common.jinja" as php %}
                <div id="primary" class="content-area">	                    				
                    <main id="main" class="site-main">
                        {% block main_area %}{% endblock %}


                    </main>
                </div> <!-- #primary -->
